<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Config.StartDate" value="DNPvh2u6j2X87ediHdk4rw=="/>
    <add key="Config.CurrentKey" value="rGW6AHJF7eHLyLdWR97eEWNquyVhmvgruJLBg8+rW+4="/>
    <add key="Config.ProcessorId" value="Um5P975SY0i21e1hT+5q10paog3S1K0sWe26o+EDo6Q="/>
    <add key="Ticket.TicketPrinter" value="UoLPwGvWQ9hinFdvJQnuFA68Q+sPE66LZMxqY33FN8c="/>
    <add key="Ticket.NOPrintTicket" value="+MKFLXam38IhMbu2sCmKfg=="/>
    <add key="FILTRO_ENTRADAS.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_ENTRADAS.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_ENTRADAS.FILTRO" value="True"/>
    <add key="FILTRO_ENTRADAS.HOY" value="True"/>
    <add key="FILTRO_VENTAS.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_VENTAS.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_VENTAS.FILTRO" value="True"/>
    <add key="FILTRO_VENTAS.HOY" value="True"/>
    <add key="FILTRO_FACTURAS.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_FACTURAS.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_FACTURAS.FILTRO" value="True"/>
    <add key="FILTRO_FACTURAS.HOY" value="True"/>
    <add key="FILTRO_AJUSTES.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_AJUSTES.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_AJUSTES.FILTRO" value="True"/>
    <add key="FILTRO_AJUSTES.HOY" value="True"/>
    <add key="FILTRO_TRASPASO.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_TRASPASO.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_TRASPASO.FILTRO" value="True"/>
    <add key="FILTRO_TRASPASO.HOY" value="True"/>
    <add key="FILTRO_GASTOS.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_GASTOS.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_GASTOS.FILTRO" value="True"/>
    <add key="FILTRO_GASTOS.HOY" value="True"/>
    <add key="FILTRO_REPORTES.FECHA_INI" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_REPORTES.FECHA_FIN" value="07/03/2013 12:00:00 a.m."/>
    <add key="FILTRO_REPORTES.FILTRO" value="True"/>
    <add key="FILTRO_REPORTES.HOY" value="True"/>
    <add key="Config.ReportsFolder" value="C:\Diarti PV\POS\Reportes"/>
    <add key="Config.DataSource" value="C:\Proyectos\DiarTI\Diarti PV\proVentas.mdb"/>
    <add key="Config.DataBasePassword" value="xpos"/>
    <add key="GeneralConfig.MainBackImage" value=""/>
    <add key="Ticket.TicketPrinterName" value="Microsoft XPS Document Writer"/>
    <add key="Ticket.HLine1" value=""/>
    <add key="Ticket.HLine2" value=""/>
    <add key="Ticket.HLine3" value=""/>
    <add key="Ticket.HLine4" value=""/>
    <add key="Ticket.HLine5" value=""/>
    <add key="Ticket.FLine1" value="DEaUO5IEdCjErNN7vmUro2/ve5dcCMPtelvPzLmMrlk="/>
    <add key="Ticket.FLine2" value="bfrYVEvQNS4GoSVTVn6WxIRiPNnz3QuxFvi+4ZAQhHY="/>
    <add key="Ticket.FLine3" value="dumPWev53hJPQ+lQOTnJwQ=="/>
    <add key="Ticket.FLine4" value="dumPWev53hJPQ+lQOTnJwQ=="/>
    <add key="Ticket.FLine5" value="dumPWev53hJPQ+lQOTnJwQ=="/>
    <add key="Ticket.FontName" value="Courier New"/>
    <add key="Ticket.FontSize" value="12"/>
    <add key="Ticket.MaxChar" value="40"/>
    <add key="Ticket.MaxCharDescription" value="20"/>
    <add key="Ticket.TicketImage" value=""/>
    <add key="Ticket.PrintTicket" value="True"/>
    <add key="Venta.LIMITE_EFECTIVO" value="0"/>
    <add key="Venta.ARTICULOS_FACTURA" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
     version="v4.0" sku=".NETFramework,Version=v4.0"/&gt;
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
